.top-header .right-box .login-box form>.login-form .login-captcha, .top-header .right-box .login-box form>.login-form .login-submit {
    width: 100%;
}
.cart-table table .quantity-box input {
    width: 100px;
}

.register-block .form-group .form-control.phone-code {
    width: 30%;
}
.register-block .form-group .form-control.phone-number {
    width: 30%;
}

/* Common css */
.alias {cursor: alias;}
.all-scroll {cursor: all-scroll;}
.auto {cursor: auto;}
.cell {cursor: cell;}
.context-menu {cursor: context-menu;}
.col-resize {cursor: col-resize;}
.copy {cursor: copy;}
.crosshair {cursor: crosshair;}
.default {cursor: default;}
.e-resize {cursor: e-resize;}
.ew-resize {cursor: ew-resize;}
.grab {cursor: grab;}
.grabbing {cursor: grabbing;}
.help {cursor: help;}
.move {cursor: move;}
.n-resize {cursor: n-resize;}
.ne-resize {cursor: ne-resize;}
.nesw-resize {cursor: nesw-resize;}
.ns-resize {cursor: ns-resize;}
.nw-resize {cursor: nw-resize;}
.nwse-resize {cursor: nwse-resize;}
.no-drop {cursor: no-drop;}
.none {cursor: none;}
.not-allowed {cursor: not-allowed;}
.pointer {cursor: pointer;}
.progress {cursor: progress;}
.row-resize {cursor: row-resize;}
.s-resize {cursor: s-resize;}
.se-resize {cursor: se-resize;}
.sw-resize {cursor: sw-resize;}
.text {cursor: text;}
.url {cursor: url(myBall.cur),auto;}
.w-resize {cursor: w-resize;}
.wait {cursor: wait;}
.zoom-in {cursor: zoom-in;}
.zoom-out {cursor: zoom-out;}

a, a:hover {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

button:hover {
	cursor: pointer;
}

/* overlay */
html, body{
  min-height: 100%;
}
body{
  position: relative;
}

.top-header .right-box .main-nav ul li a {
	font-weight: inherit;
}
.top-header .right-box .main-nav ul li a.active {
	font-weight: bold;
}

/* Affiliate page */
#reflink .profit-filter {
    padding: 20px;
}

#reflink .profit-filter select {
    font-weight: bold;
    min-width: 200px;
    height: 34px;
    margin-right: 20px;
    padding: 0 20px;
}

#reflink .profit-filter span {
    margin-right: 20px;
}

#reflink .profit-amount {
    padding: 0 20px;
    font-size: 14px;
}

#reflink .profit-amount h3 {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

#reflink .profit-notes {
    padding: 20px;
}

#reflink .profit-listing {}

#reflink .profit-listing table thead th {
    background: #707070;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    border-right: 1px solid #bcbcbc;
    text-align: center;
    padding: 9px 0;
}

#reflink .profit-listing table {
    width: 100%;
    margin-bottom: 50px;
    float: left;
}

#reflink .profit-listing table thead th:last-child {
    border-right: none;
}

#reflink .profit-listing table thead th .tool-tip {
    background: #fff;
    border-radius: 30px;
    color: #000;
    font-size: 12px;
    width: 20px;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    margin-left: 6px;
    cursor: pointer;
}
#reflink .profit-listing table tbody td {
    text-align: center;
    font-size: 18px;
    padding: 8px 0;
}
/* End Affiliate Page */

.form-group .recovery-code-hint-box {
    font-size: 15px;
}

.topup-pack .pack-name {
    background: #ffdd00; 
    color: #000000;
    font-size: 30px;
    font-weight: normal;
    text-transform: none;
    text-align: center;
    line-height: 55px;
    margin-bottom: 29px;
}

.product-temple-total table thead th {
    font-weight: normal;
}

.product-temple-total table tbody tr.instant-total td {
    font-weight: normal;
}

.product-detail .product-info .product-detail-price span {
    font-weight: normal;
}

.product-temple-total table tfoot tr td {
    font-weight: normal;
}

.btn-product-detail-add-to-cart {
    font-weight: normal;
}

.product-temple-total table tbody td .sale-price {
    font-weight: normal;
}

.affiliate-top .has-left-border {
    font-weight: normal;
}

th {
    font-weight: normal;
}

.profile-page .profile-left .refer-qa-list .qa-item .qa-answer .sub-btn {
    font-weight: normal;
}

.profile-page .profile-left .refer-qa-list .qa-item .qa-question {
    font-weight: normal;
}

/*Hide input arrow*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.profile-right .profile-info-right .img-wrap-info-right .img-info-right:last-child {
    padding-left: 0px;
}

.main-slider .main-slider-blurred {
    filter: blur(6px);
    -webkit-filter: blur(6px);
}

.top-bar-action a {
    background: none;
}

.top-bar-action a.edit-btn {
    background: url(../images/ico-edit.png) no-repeat 0 center;
}
.top-bar-action a.download-btn {
    background: url(../images/download_icon.png) no-repeat 0 center;
}
.top-bar-action a.upload-btn {
    background: url(../images/upload_icon.png) no-repeat 0 center;
}

.profile-page .profile-right {
    width: 100%;
}

.product-grand-total {
    font-weight: normal;
}

.checkout-navigation-tabs>div {
    font-weight: normal;
}

.login-box .right-login-box .name-box-login {
    font-weight: normal;
}

.top-header .right-box .main-nav .search-box input[type="text"] {
    font-weight: normal;
}

.footer .bot-footer .footer-about h4 {
    font-weight: normal;
}

.footer .bot-footer .footer-socials h4 {
    font-weight: normal;
}

.aff-tabs .aff-tabs-nav span {
    font-weight: normal;
}

#reward-feed .profit-listing table thead th {
    font-weight: normal;
}

#reward-feed .profit-amount h3 {
    font-weight: normal;
}

#reward-feed .profit-filter select {
    font-weight: normal;
}

.qa-item .qa-group ul li a {
    color: #ce4c27;
}

.profile-page .profile-right .left-coin span:last-child {
    font-weight: normal;
}

.prod-price .price-usd {
    float: none;
}

.prod-price span.price-cny {
    font-size: 14px;
    font-weight: normal;
    color: #808080;
    font-style: italic;
    padding: 0 10px;
}

@media (max-width: 1400px) {
    .product-listing .prod-title {
        min-height: 25px
    }
}

.content > p {
    margin-bottom: 10px
}

.content ul {
    list-style: unset;
    margin-left: 10px;
}

.content ol {
    list-style: decimal;
    margin-left: 10px;
}

.top-header .header-time-box, .header-time-box {
    z-index: 1;
}