.main-btn:hover {
  background-color: #ffffff; }

.product-promo-detail {
  color: #ffffff; }

.product-promo-detail ul,
ol,
ul li,
ol li {
  list-style: unset; }

.product-promo-detail .img-wrap {
  width: 100%;
  height: 212px;
  border: 1px solid #d0cfd0;
  overflow: hidden;
  position: relative; }

.product-promo-detail .img-wrap img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0; }

.product-promo-detail .ti-main-content {
  font-size: 18px;
  padding-top: 50px;
  padding-bottom: 50px; }

.product-promo-detail .ti-title-content h1 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px; }

.product-promo-detail .ti-title-content .ti-breadcrumb {
  font-size: 18px;
  margin-bottom: 10px;
  display: inline-block; }

.product-promo-detail .ti-title-content .ti-breadcrumb a {
  color: #ff3600; }

.product-promo-detail .ti-title-content .ti-breadcrumb a::after {
  content: '/'; }

.product-promo-detail .ti-main-content h3 {
  color: #ffdd00;
  font-size: 18px;
  margin-bottom: 5px; }

.product-promo-detail .ti-main-content p {
  margin-bottom: 20px; }

.product-promo-detail .ti-main-content .ti-code {
  margin-top: 38px;
  margin-bottom: 20px;
  text-align: center; }

.product-promo-detail .ti-main-content .ti-code span {
  padding: 18px 21px;
  color: #ffdd00;
  background-color: #707070; }

.product-promo-detail .ti-main-content ul.ti-main-ul {
  list-style-type: decimal;
  padding-left: 20px; }

.product-promo-detail .ti-main-content .ti-main-ul a {
  color: #ffdd00;
  text-decoration: underline;
  text-underline-position: under; }

.product-promo-detail .ti-main-content .ti-sub-ul {
  padding-left: 40px;
  list-style-type: circle; }

.verify-code {
  font-size: 18px;
  background-color: #cccccc;
  padding-bottom: 45px; }
  .verify-code .title {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px; }
  .verify-code .wrap-code-verify .left-code {
    text-align: center; }
    .verify-code .wrap-code-verify .left-code img {
      height: 100%;
      max-width: 100%; }
    @media screen and (max-width: 768px) {
      .verify-code .wrap-code-verify .left-code {
        margin-bottom: 45px; } }
  .verify-code .wrap-code-verify .right-code .wrap-numb {
    margin: 18px 0; }
    .verify-code .wrap-code-verify .right-code .wrap-numb .numb {
      margin-right: 10px;
      width: 45px;
      height: 70px;
      font-size: 60px;
      border: solid 1px #000;
      padding: 0px 5px;
      background: #fff; }
  .verify-code .wrap-code-verify .btn-product-detail-add-to-cart {
    margin: 18px 0; }

.profile-page {
  background-color: #cccccc;
  color: #000; }
  .profile-page .profile-left .cus-btn.gray-btn {
    line-height: 45px;
    min-width: 226px;
    padding: 0;
    text-align: center;
    width: 100%;
    background-color: #e6e6e6; }
    .profile-page .profile-left .cus-btn.gray-btn:hover, .profile-page .profile-left .cus-btn.gray-btn.active {
      background-color: #ffdd00; }
  .profile-page .profile-left ul li a {
    width: 100%; }
  .profile-page .profile-left ul li:not(:last-child) {
    margin-bottom: 20px; }
  .profile-page .profile-left .refer-qa-list {
    margin-top: 50px; }
    .profile-page .profile-left .refer-qa-list .qa-item {
      width: 100%; }
      .profile-page .profile-left .refer-qa-list .qa-item a {
        padding-left: 0; }
      .profile-page .profile-left .refer-qa-list .qa-item .qa-question {
        border-width: 4px;
        margin-bottom: 0; }
        .profile-page .profile-left .refer-qa-list .qa-item .qa-question.active {
          box-shadow: none; }
      .profile-page .profile-left .refer-qa-list .qa-item .qa-answer {
        width: 100%; }
        .profile-page .profile-left .refer-qa-list .qa-item .qa-answer .sub-btn {
          text-align: left;
          color: #000;
          font-weight: bold;
          display: block;
          padding: 10px;
          padding-left: 40px;
          width: 100%;
          border-bottom: 1px solid #000; }
          .profile-page .profile-left .refer-qa-list .qa-item .qa-answer .sub-btn.active, .profile-page .profile-left .refer-qa-list .qa-item .qa-answer .sub-btn:hover {
            color: #ff3600;
            background: none; }
  .profile-page .wrap-profile-right {
    padding-left: 50px; }
    @media screen and (max-width: 768px) {
      .profile-page .wrap-profile-right {
        padding-left: 15px; } }
  .profile-page .profile-right {
    display: inline-block;
    padding: 50px;
    background-color: #dbdbdb; }
    @media screen and (max-width: 768px) {
      .profile-page .profile-right {
        padding: 15px; } }
    .profile-page .profile-right .profile-top {
      padding-bottom: 50px;
      border-bottom: 1px solid #000; }
      @media screen and (max-width: 768px) {
        .profile-page .profile-right .profile-top {
          padding-bottom: 20px; } }
    .profile-page .profile-right .btn-product-detail-add-to-cart {
      margin-top: 20px;
      display: inline-block; }
      @media screen and (max-width: 350px) {
        .profile-page .profile-right .btn-product-detail-add-to-cart {
          padding: 0 10px; } }
    .profile-page .profile-right .profile-name {
      font-size: 24px;
      font-weight: bold;
      text-transform: uppercase; }
      @media screen and (max-width: 768px) {
        .profile-page .profile-right .profile-name {
          font-size: 20px; } }
    .profile-page .profile-right .wrap-info span {
      margin-top: 20px;
      margin-right: 10%;
      float: left;
      font-size: 18px; }
      .profile-page .profile-right .wrap-info span p:last-child {
        font-weight: bold; }
      @media screen and (max-width: 768px) {
        .profile-page .profile-right .wrap-info span {
          font-size: 16px; } }
      @media screen and (max-width: 480px) {
        .profile-page .profile-right .wrap-info span {
          font-size: 14px; } }
    @media screen and (max-width: 1200px) {
      .profile-page .profile-right .wrap-info span:last-child {
        width: 100%; } }
    .profile-page .profile-right .profile-coin {
      padding-top: 45px;
      display: inline-block;
      width: 100%; }
      @media screen and (max-width: 768px) {
        .profile-page .profile-right .profile-coin {
          padding-top: 15px; } }
      .profile-page .profile-right .profile-coin .right-coin {
        width: 40%;
        float: left;
        display: block;
        text-align: center; }
        @media screen and (max-width: 1200px) {
          .profile-page .profile-right .profile-coin .right-coin {
            margin-top: 30px;
            width: 100%; } }
        .profile-page .profile-right .profile-coin .right-coin img {
          width: 100%;
          max-width: 211px; }
    .profile-page .profile-right .left-coin {
      width: 60%;
      float: left;
      display: block; }
      @media screen and (max-width: 1200px) {
        .profile-page .profile-right .left-coin {
          width: 100%; } }
      .profile-page .profile-right .left-coin span {
        font-size: 18px;
        margin-top: 20px;
        line-height: 180%;
        width: 50%;
        float: left; }
        .profile-page .profile-right .left-coin span p {
          white-space: nowrap; }
        .profile-page .profile-right .left-coin span:last-child {
          font-weight: bold; }
        @media screen and (max-width: 768px) {
          .profile-page .profile-right .left-coin span {
            font-size: 16px; } }
        @media screen and (max-width: 480px) {
          .profile-page .profile-right .left-coin span {
            font-size: 14px;
            overflow: hidden; } }
      .profile-page .profile-right .left-coin .profile-title-coin {
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;
        color: #ff3600; }
        @media screen and (max-width: 768px) {
          .profile-page .profile-right .left-coin .profile-title-coin {
            font-size: 20px; } }

.profile-page .profile-right .profile-info-left span:last-child {
  font-weight: normal; }

.profile-right .profile-info-left {
  width: 50%;
  float: left; }
  @media screen and (max-width: 1200px) {
    .profile-right .profile-info-left {
      width: 100%; } }
  .profile-right .profile-info-left .left-coin {
    width: 100%;
    padding-right: 20px; }
    .profile-right .profile-info-left .left-coin span {
      margin-top: 3px; }
      .profile-right .profile-info-left .left-coin span p {
        line-height: 50px;
        text-overflow: ellipsis;
        overflow: hidden; }

.profile-right .profile-info-right {
  width: 50%;
  float: left; }
  @media screen and (max-width: 1200px) {
    .profile-right .profile-info-right {
      width: 100%;
      margin-top: 50px;
      padding-bottom: 5px; } }
  .profile-right .profile-info-right .text-delivery {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    justify-content: space-between;
    position: relative;
    width: 100%; }
    .profile-right .profile-info-right .text-delivery .wrap-text {
      font-size: 14px;
      color: #4b4b4b; }
    .profile-right .profile-info-right .text-delivery .btn-product-detail-add-to-cart {
      font-size: 14px;
      height: 30px;
      margin-top: 0;
      line-height: 30px;
      bottom: 0;
      position: absolute;
      right: 0; }
  .profile-right .profile-info-right .profile-name span {
    font-size: 18px;
    font-weight: normal;
    color: #ff3600;
    text-transform: none;
    margin-left: 10px; }
  .profile-right .profile-info-right .tag-rate {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    align-items: center;
    margin-top: 30px;
    width: 100%;
    border-left: 5px solid #ff3600;
    background-color: #ffffff;
    height: 60px; }
    .profile-right .profile-info-right .tag-rate #star {
      margin-left: 20px;
      margin-right: 20px; }
    .profile-right .profile-info-right .tag-rate #like {
      margin-left: 10px;
      margin-right: 5px; }
    .profile-right .profile-info-right .tag-rate #dislike {
      margin-right: 20px; }
    .profile-right .profile-info-right .tag-rate svg {
      float: left; }
      .profile-right .profile-info-right .tag-rate svg .cls-1 {
        fill: none;
        stroke: #130e14;
        stroke-width: 1px; }
      .profile-right .profile-info-right .tag-rate svg .cls-2 {
        fill-rule: evenodd; }
    .profile-right .profile-info-right .tag-rate a:hover svg .cls-1,
    .profile-right .profile-info-right .tag-rate a:hover svg .cls-2, .profile-right .profile-info-right .tag-rate a.red svg .cls-1,
    .profile-right .profile-info-right .tag-rate a.red svg .cls-2 {
      stroke: #ff3600; }
    .profile-right .profile-info-right .tag-rate .text-rate {
      font-size: 14px;
      font-weight: normal; }
      .profile-right .profile-info-right .tag-rate .text-rate span {
        font-size: 18px;
        font-weight: bold; }
  .profile-right .profile-info-right .img-wrap-info-right {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
    display: inline-block; }
    .profile-right .profile-info-right .img-wrap-info-right .img-info-right {
      width: 50%;
      text-align: center;
      float: left;
      font-size: 18px; }
      .profile-right .profile-info-right .img-wrap-info-right .img-info-right img {
        width: 100%;
        margin-bottom: 20px; }
      .profile-right .profile-info-right .img-wrap-info-right .img-info-right:first-child {
        padding-right: 10px; }
      .profile-right .profile-info-right .img-wrap-info-right .img-info-right:last-child {
        padding-left: 10px; }

.profile-list {
  background-color: #dbdbdb;
  padding-top: 45px;
  padding-bottom: 45px;
  font-size: 18px; }
  @media screen and (max-width: 992px) {
    .profile-list {
      padding-top: 30px;
      padding-bottom: 30px; } }
  .profile-list .top-profile-list {
    margin-bottom: 45px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    display: -moz-flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: space-between; }
    .profile-list .top-profile-list .right-top-profile-list {
      display: flex;
      display: -moz-flex;
      display: -webkit-flex;
      align-items: center; }
    @media screen and (max-width: 992px) {
      .profile-list .top-profile-list {
        margin-bottom: 30px;
        padding-left: 30px;
        padding-right: 30px; } }
  .profile-list .table {
    text-align: center;
    background-color: #fff; }
    .profile-list .table th {
      background-color: #707070;
      color: #fff; }
  .profile-list .pagination .page-item {
    background-color: #fff; }
  .profile-list .pagination li {
    background-color: #ffdd00;
    padding: .5rem .75rem;
    line-height: 1.25; }
  .profile-list .pagination li a {
    padding: 0;
    line-height: unset; }
  .profile-list .pagination .page-link {
    background: transparent;
    color: #000000;
    border: none; }
  .profile-list select {
    width: 200px;
    height: 34px;
    border-radius: 0;
    float: left;
    margin-left: 20px; }
    @media screen and (max-width: 992px) {
      .profile-list select {
        width: 100px; } }

.login-box .right-login-box {
  width: 260px;
  background-color: #cccccc;
  padding: 15px;
  height: 84px;
  text-align: right; }
  .login-box .right-login-box .name-box-login {
    font-weight: bold;
    font-size: 20px;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 20px; }
    .login-box .right-login-box .name-box-login i {
      position: absolute;
      right: 0px; }
  .login-box .right-login-box .info-k-coin {
    font-size: 18px; }
    .login-box .right-login-box .info-k-coin span {
      font-size: 20px; }
  .login-box .right-login-box span {
    margin-left: 5px;
    margin-right: 3px; }

.login-box .img-wrap {
  position: relative;
  width: 84px;
  height: 84px;
  overflow: hidden;
  float: left;
  border-left: 4px solid #ff3600; }
  .login-box .img-wrap img {
    width: auto;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.login-box .info-box-fix {
  display: inline-block;
  overflow: hidden;
  cursor: pointer; }

.login-box .info-box {
  position: relative; }

.login-box .info-box-show {
  z-index: 1111;
  position: absolute;
  overflow: hidden;
  height: 0;
  width: 100%;
  margin-top: -6px;
  text-align: right;
  font-size: 18px;
  background-color: #dbdbdb;
  transition: all 0.5s; }
  .login-box .info-box-show.show-box {
    height: 160px; }
  .login-box .info-box-show ul {
    padding: 20px 30px; }
  .login-box .info-box-show li {
    margin-bottom: 15px; }
  .login-box .info-box-show a {
    color: #000000; }
    .login-box .info-box-show a img {
      margin-left: 10px; }
  .login-box .info-box-show a:hover {
    color: #000000;
    font-weight: bold; }

.top-header .right-box .login-box form > .login-form {
  padding: 18px 10px; }

.red {
  color: #ff3600; }

.modal {
  padding-right: 0 !important; }
  .modal .bg-modal {
    width: 100%;
    height: auto; }
  .modal button.close {
    position: absolute;
    top: 8px;
    right: 8px;
    color: #ccc;
    opacity: 1; }
  .modal .modal-wrap {
    position: relative;
    width: 100%;
    height: auto; }
  .modal .btn-modal-join {
    position: absolute;
    width: 100%;
    top: 50%;
    right: 100px;
    max-width: 215px; }
  .modal .btn-modal-topup {
    position: absolute;
    width: 100%;
    top: 60%;
    right: 50%;
    max-width: 154px;
    transform: translateX(50%);
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%); }
  .modal .btn-modal-wallet {
    position: absolute;
    width: 100%;
    top: 58%;
    right: 138px;
    max-width: 138px; }
  .modal a:hover img {
    transform: scale(1.1); }
  .modal a:hover img.btn-modal-topup {
    transform: translateX(50%) scale(1.1);
    -webkit-transform: translateX(50%) scale(1.1);
    -moz-transform: translateX(50%) scale(1.1); }
  .modal .close:not(:disabled):not(.disabled):focus, .modal .close:not(:disabled):not(.disabled):hover {
    color: #ccc;
    opacity: 0.5; }
  @media (min-width: 992px) {
    .modal .modal-dialog {
      max-width: 800px;
      margin: 10rem auto; } }
  @media screen and (max-width: 992px) {
    .modal .btn-modal-join {
      max-width: 130px;
      right: 70px; }
    .modal .btn-modal-topup {
      max-width: 100px; }
    .modal .btn-modal-wallet {
      right: 76px;
      max-width: 110px; }
    .modal .modal-dialog {
      margin: 12rem auto; } }
  @media screen and (max-width: 480px) {
    .modal .btn-modal-join {
      width: 25%;
      right: 14%; }
    .modal .btn-modal-wallet {
      width: 25%;
      right: 14%; } }

.qa-item .qa-group ul {
  font-size: 18px;
  color: #000; }
  .qa-item .qa-group ul li a {
    color: #ff3600;
    opacity: 0.7; }
    .qa-item .qa-group ul li a:hover {
      opacity: 1; }
  .qa-item .qa-group ul li i {
    color: #ff3600;
    opacity: 0.7;
    margin-right: 10px; }

.qa-listing {
  margin-bottom: 50px; }

.qa-section-title {
  margin-bottom: 0;
  border-bottom: 1px solid #ff3600;
  border-left: none; }

.qa-section-list {
  background: #fff;
  padding: 20px 30px; }

.qa-section .btn-see-all {
  padding-left: 15px;
  font-size: 18px;
  color: #ff3600;
  opacity: 0.5;
  margin-top: -30px; }
  .qa-section .btn-see-all:hover {
    opacity: 1; }
  .qa-section .btn-see-all i {
    margin-right: 10px; }

/*# sourceMappingURL=ti-style.css.map */
